*{
    padding: 0;margin: 0;box-sizing: border-box;

}
.container{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to right , rgba(0, 0, 0, 0.789),rgb(0, 0, 0));

}
.leftbox{
    width: 30%;
    
    
}
.heading{
    font-size: 3rem;
    color: white;
    text-align: center;
}
.subheading{
    color: aliceblue;
    margin-top: 10px;
    text-align: center;

}
.gallery{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
     grid-auto-rows: 120px;                   /*for row heights */

}
.box{
    background-size: cover;
    background-position:top ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.571);
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    

}:hover{
    background-color: #999;
    background-position: center;
    box-shadow: 0 0 4px rgb(176, 27, 27);
    
}

.boxrow{
    grid-row: span 2;

}
.boxcolumn{
    grid-column:span 2;
}
































